<div class="page-content-inner">

    <!-- Basic Form Elements -->
    <section class="panel">
        <div class="panel-heading">
            <h3>Customer Complaint</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-50">

                        <br />
                        <form>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="typeahead__container">
                                        <div class="typeahead__field">
                                            <div class="typeahead__query">
                                                <div class="input-group">
                                                    <input id="example1" class="form-control" name="" type="text" placeholder="" autocomplete="off" />
                                                    <span class="input-group-btn">
                                                <a href="javascript: void(0);" class="btn btn-default">
                                                    Find Customer
                                                </a>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                                <div class="col-md-4">
                                      <input type="text" class="form-control" placeholder="Customer name"  id="l11">
                                </div>
-->
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer ID</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer id"  id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Name</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer name"  id="l11">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Mobile No</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer mobile no"  id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Register Date</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer reg date"  id="l11">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Area</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer Area" id="l11">
                                </div>

                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">City</label>
                                </div>

                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Select city
                                        </button>
                                        <ul class="dropdown-menu dropdown-animate" aria-labelledby="" role="menu">
                                            <a class="dropdown-item" href="javascript: void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">State</label>
                                </div>

                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Select state
                                        </button>
                                        <ul class="dropdown-menu dropdown-animate" aria-labelledby="" role="menu">
                                            <a class="dropdown-item" href="javascript: void(0)">Action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                                            <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Pincode</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Pincode" id="l11">
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Oprerator</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="operator"  id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Complaint description</label>
                                </div>

                                <div class="col-md-4">
                                    <textarea class="form-control" rows="3" id="l15"></textarea>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="button" class="btn width-150 btn-primary">Edit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Horizontal Form -->
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
</section>
<!-- End -->

</div>