<div class="page-content-inner">

    <!-- Basic Form Elements -->
    <section class="panel">
        <div class="panel-heading">
            <h3>Complaint Register</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-50">

                        <br />
                        <!-- Horizontal Form -->
                        <form>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="typeahead__container">
                                        <div class="typeahead__field">
                                            <div class="typeahead__query">
                                                <div class="input-group">
                                                    <input id="example1" class="form-control" name="" type="text" placeholder="" autocomplete="off" />
                                                    <span class="input-group-btn">
                                                <a href="javascript: void(0);" class="btn btn-default">
                                                    Find Customer
                                                </a>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                                <div class="col-md-4">
                                      <input type="text" class="form-control" placeholder="Customer name" readonly="" id="l11">
                                </div>
-->
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer ID</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer id" readonly="" id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Name</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer name" readonly="" id="l11">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Mobile No</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer mobile no" readonly="" id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Register Date</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer reg date" readonly="" id="l11">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Customer Area</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Customer area" readonly="" id="l11">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Oprerator</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="operator" readonly="" id="l11">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Address</label>
                                </div>

                                <div class="col-md-4">
                                    <textarea class="form-control" rows="3" id="l15"></textarea>
                                </div>

                                <div class="col-md-2">
                                    <label class="form-control-label" for="l5">Complaint description</label>
                                </div>

                                <div class="col-md-4">
                                    <textarea class="form-control" rows="3" id="l15"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="button" class="btn width-150 btn-primary">Submit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Horizontal Form -->
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
</section>
<!-- End -->

</div>

